* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*************************Sezione tag */

body {
    background-color: #dddbd2;
}

input {
    font-size: 11px;
    padding: 5px;
    width: 85%;
    border: 1px solid lightgray;
}

/*************************Sezione classi */

.green-screen {
    background-color: #0b9688;
    width: 100%;
    height: 150px;
    position: absolute;
}

.main-window {
    height: 90vh;
    top: 5vh;
    background-color: white;
    display: flex;
    position: relative;
    z-index: 1;
}

/* Sezione laterale del main box chat*/

.chatlist  {
    width: 35%;
}

.flex-section {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

.user-account {
    min-height: 50px;
    background-color: #eaeaea;
}

.user-account-image {
    max-width: 20%;
}

.user-account-image img {
    width: 100%;
    border-radius: 50%;
}

.user-account-icons i {
    font-size: 1.5 rem;
    vertical-align: middle;
    line-height: 31px;
    color: grey;
}

.notify {
    background-color: #8fdafa;
}

.notify-icon {
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
    padding: 13px;
    background-color: white;
    border-radius: 50%;
}

.notify-icon i {
    color: #8fdafa;
    font-size: 1.25rem;
}

.notify-text {
    vertical-align: middle;
    margin-bottom: 8px;
}

.notify-text :nth-child(2) {
    font-size: 12px;
}

.notify-text :nth-child(2) a {
    color: grey;
}

.search-box {
    background-color: white;
    padding: 2px;
}

.search-box img {
    width: 5%;
    margin: 0 10px;
}

.user-list {
    min-height: 50px;
    background-color: white;
}

.user-list-image {
    max-width: 20%;
}

.user-list-image img {
    width: 100%;
    border-radius: 50%;
    margin: 0 8px;
}

.user-list-box {
    vertical-align: middle;
    margin-bottom: 8px;
}

.user-list-name {
    margin-left: 10px;
}

.user-date {
    font-size: 9px;
    color: rgb(187, 184, 184);
    margin-left: 100px;
}

.user-message {
    margin-left: 8px;
    font-size: 12px;
    color: rgb(187, 184, 184);
}


.mex-container {
    flex: 1;
    background-image: url("../img/mine.jpg");
    background-position: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.msg-container {
    padding: 10px 20px;
}
.msg-container .card {
    max-width: 40%;
    min-width: 200px;
    padding: 18px;
    display: inline-block;
    border-radius: 10px;
}

.msg-container.received .card {
    background-color: white;
    transform: translateX(-150%);
    animation: fromLeft 0.3s both .3S;
}

.msg-container.sent {
    text-align: right;
    transform: translateX(150%);
    animation: fromRight 0.3s both .3S;
}

.msg-container.sent .card {
    background-color: #d6fabe;
}
/*************************Sezione ID */


